.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40rem;
  height: auto;
}

@media (max-width: 56.25em) {
  .projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40rem;
  }

  .modal-opener {
    visibility: visible;
  }
}
