.tabsNav,
.tabs {
  width: 100%;
}
.tabsNavItems {
  display: block;
  list-style: none;
  margin-top: 2rem;
}

.tabItem {
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid #777;
  cursor: pointer;
  width: 32%;
  text-align: center;
  border-radius: 5px;
  font-size: 2rem;
}

.activeTabItem {
  background-color: #ffc107;
  border: none;
}

.tabItem:not(:last-child) {
  margin-right: 1rem;
}

.tabs {
  margin-top: 2rem;
}

.tab {
  background-color: #f7f7f7;
  border: 1px solid #777;
  padding: 1rem 2rem;
  display: none;
  border-radius: 5px;
  font-size: 2rem;
}

.activeTab {
  display: block;
}
