.contact-wrapper {
  padding: 8rem 20rem;
  display: flex;
}

.contact {
  width: 60%;
  background-color: #e8edf0;
  padding: 4rem;
}

.contact h3 {
  margin-bottom: 3rem;
}

.contact-form-group {
  width: 100%;
}

.contact-form-group label {
  display: inline-block;
  margin-bottom: 1rem;
}

.contact-form-group > div {
  display: inline-block;
  width: 49%;
}

.contact-form-group > div:not(:last-child) {
  margin-right: 2%;
}

.contact-form-group:not(:last-child) {
  margin-bottom: 2rem;
}

.contact-form-input {
  display: inline-block;
  border-radius: 12px;
  outline: none;
  border: none;
  width: 100%;
  height: 5rem;
  padding: 0.5rem 1rem;
}

.contact-form-textarea {
  display: inline-block;
  border-radius: 12px;
  outline: none;
  border: none;
  width: 100%;
  height: 10rem;
  padding: 0.5rem 1rem;
}

.contact-form-button {
  background-color: #ffc107;
}

.map-container {
  width: 40%;
  background-color: white;
  padding: 4rem;
}

.contact-details-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20rem 8rem 20rem;
}
.contact-detail-item {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.contact-detail-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8edf0;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.contact-detail-icon img {
  width: 4rem;
}

@media (max-width: 56.25em) {
  .contact-wrapper {
    flex-direction: column;
    padding: 1rem 2rem;
  }

  .contact {
    width: 100%;
  }

  .map-container {
    width: 100%;
    background-color: white;
    padding: 4rem;
    height: 50rem;
  }
  .contact-details-grid {
    padding: 2rem 2rem 3rem 2rem;
    flex-direction: column;
  }

  .contact-detail-item {
    margin-top: 2rem;
  }
}
